<div class="row">
  <div class="col">
    <div class="mx-auto text-white text-center">
      <h1>
        iMedia is what's happening and what people are talking about.
      </h1>
      <img src="/images/social_media.jpeg" alt="" style="width: 500px; height: 500px;" />
      <h1>
        We serve the public conversation.
      </h1>
      <img src="/images/convo.jpeg" alt="" style="width: 650px; height: 500px;" />
      <br>
      <h7>Source: Twitter</h7>
    </div>
  </div>
</div>
