<div id="app">
  <form
    action="/signup"
    class="mainFormSignUp"
    v-on:submit="validateForm"
    method="post"
  >
    <div class="mb-4">
      <h1>Sign up to iMedia</h1>
    </div>
    <% if(formValidationOk == false){ %>
    <div class="errorMessage"><%= invalidMessage %></div>
    <% } %> 
    <% if(noError == false){ %>
    <div class="errorMessage"><%= errorM %></div>
    <% } %>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="fName" class="col-form-label"
            >First Name<span v-if="firstNameOk == false" class="errorMessage">
              Contains invalid chars</span
            ></label
          >
          <input
            type="text"
            id="fName"
            name="firstName"
            class="form-control"
            required
            v-model="firstName"
            v-bind:class='[firstNameOk ? "form-control": ["form-control", "errorInput"]]'
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="lName" class="col-form-label"
            >Last Name<span v-if="lastNameOk == false" class="errorMessage">
              Contains invalid chars</span
            ></label
          >
          <input
            type="text"
            id="lName"
            name="lastName"
            class="form-control"
            required
            v-model="lastName"
            v-bind:class='[lastNameOk ? "form-control": ["form-control", "errorInput"]]'
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 col-lg-5">
        <div class="form-group">
          <label for="myLocation" class="col-form-label"
            >Location<span v-if="locationOk == false" class="errorMessage">
              Contains invalid chars</span
            ></label
          >
          <input
            type="text"
            class="form-control"
            name="location"
            id="myLocation"
            v-model="location"
            v-bind:class='[locationOk ? "form-control": ["form-control", "errorInput"]]'
          />
        </div>
      </div>
      <div class="col-sm-5 col-lg-3">
        <div class="form-group">
          <label for="myGender" class="col-form-label">Gender</label>
          <select name="gender" id="myGender" class="form-control">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="form-group">
          <label for="myDob" class="col-form-label">Date of Birth</label>
          <input
            type="date"
            class="form-control"
            name="dob"
            id="myDob"
            required
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="myEmail" class="col-form-label"
            >Email<span v-if="emailOk == false" class="errorMessage">
              Contains invalid chars</span
            ></label
          >
          <input
            type="email"
            class="form-control"
            name="email"
            id="myEmail"
            required
            v-model="email"
            v-bind:class='[emailOk ? "form-control": ["form-control", "errorInput"]]'
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="uName" class="col-form-label"
            >Username<span v-if="userNameOk == false" class="errorMessage">
              Contains invalid chars</span
            ></label
          >
          <input
            type="text"
            id="uName"
            name="userName"
            class="form-control"
            required
            v-model="userName"
            v-bind:class='[userNameOk ? "form-control": ["form-control", "errorInput"]]'
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="myPassword" class="col-form-label"
            >Password<span v-if="validPassword == false" class="errorMessage">
              Invalid password</span
            ></label
          >
          <input
            type="password"
            class="form-control"
            name="password"
            id="myPassword"
            required
            v-model="password"
            v-bind:class='[validPassword ? "form-control" : ["form-control", "errorInput"]]'
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="myConfirmPassword" class="col-form-label"
            >Confirm password
            <span v-if="passwordMatch == false" class="errorMessage"
              >Passwords don't match</span
            ><span v-else-if="validPassword == false" class="errorMessage"
              >Invalid password</span
            >
          </label>
          <input
            type="password"
            class="form-control"
            name="confirmPassword"
            id="myConfirmPassword"
            required
            v-model="confirmPassword"
            v-bind:class='[passwordMatch ? ["form-control"] : ["form-control", "errorInput"], validPassword ? "form-control" : ["form-control", "errorInput"]]'
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div
        v-bind:class='[dropDownResponseSelected == "" ? "col-sm-12": "col-sm-12 col-lg-7"]'
      >
        <div class="form-group">
          <label for="mySecurityQuestion" class="col-form-label"
            >Security Question</label
          >
          <select
            name="securityQuestion"
            id="mySecurityQuestion"
            class="form-control"
            v-model="dropDownResponseSelected"
          >
            <option value="motherMaiden">
              What was your mother's maiden name?
            </option>
            <option value="nickName">What was your childhood nickname?</option>
            <option value="mascot">What was your high school's mascot?</option>
          </select>
        </div>
      </div>
      <div
        class="col-sm-12 col-lg-5"
        v-if='dropDownResponseSelected == "motherMaiden" || dropDownResponseSelected == "nickName" || dropDownResponseSelected == "mascot" '
      >
        <label for="mySecurityResponse" class="col-form-label"
          >Response<span v-if="responseOk == false" class="errorMessage">
            Contains invalid chars</span
          ></label
        >
        <input
          type="text"
          class="form-control"
          name="securityResponse"
          id="mySecurityResponse"
          v-model="response"
          v-bind:class='[responseOk ? "form-control": ["form-control", "errorInput"]]'
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="myBio" class="col-form-label"
            >Bio<span v-if="bioOk == false" class="errorMessage">
              Contains invalid chars</span
            ></label
          >
          <textarea
            name="bio"
            id="myBio"
            cols="30"
            rows="5"
            class="form-control"
            v-model="bio"
            v-bind:class='[bioOk ? "form-control": ["form-control", "errorInput"]]'
          ></textarea>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btnSignUp">Submit</button>
      <button type="reset" class="btn btn-secondary btnSignUp">Reset</button>
    </div>
  </form>
</div>
