* {
  box-sizing: border-box;
}

.mainForm {
  width: 300px;
  margin: auto;
}
.mainFormSignUp {
  width: 42%; /* 42% of its container; ie. 42% of the body */
  margin: auto;
}
.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #15202b;
}

.btnLogin {
  width: 300px;
  height: 50px;
  margin-bottom: 4px;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
  color: white;
}

.btnSignUp {
  width: 100%; /* 100% of its container; ie. 100% of the 90% */
  height: 50px;
  margin-bottom: 4px;
}

.errorInput {
  background-color: red;
}

.errorMessage {
  color: red;
  font-size: small;
}

.logo {
  width: 200px;
}

.flash {
  background: rgba(193, 255, 193, 0.7);
  color: #625a56;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  position: absolute;
  top: 90px;
  z-index: 2;
}

.flashError {
  background: rgba(255, 205, 193, 0.7);
  color: #625a56;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  position: absolute;
  top: 90px;
  z-index: 2;
}

h1,
h2,
label {
  color: white;
}
