* {
  box-sizing: border-box;
}

.mainForm {
  width: 300px;
  margin: auto;
}
.mainFormSignUp {
  width: 42%; /* 42% of its container; ie. 42% of the body */
  margin: auto;
}
.center{
  display: flex;
  justify-content: center;
}

body {
  background-color: tan;
}

.btnLogin {
  width: 300px;
  height: 50px;
  margin-bottom: 4px;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

.btnSignUp {
  width: 100%; /* 100% of its container; ie. 100% of the 90% */
  height: 50px;
  margin-bottom: 4px;
}

.errorInput {
  background-color: red;
}

.errorMessage {
  color: red;
  font-size: small;
}

.logo{
  width: 200px;
}