* {
  box-sizing: border-box;
}

.mainForm {
  width: 400px;
  margin: auto;
}
.mainFormSignUp {
  width: 90%; /* 90% of its container; ie. 90% of the body */
  margin: auto;
}

body {
  background-color: palevioletred;
}

.btnLogin {
  width: 400px;
  height: 50px;
  margin-bottom: 4px;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

.btnSignUp {
  width: 100%; /* 100% of its container; ie. 100% of the 90% */
  height: 50px;
  margin-bottom: 4px;
}
